.selector-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.selector-option {
    display: flex;
    align-items: center;
}

.space {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}