:root{
    --right-position: translateX(100%);
    --left-position: translateX(-70%);
    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1366px;
    --breakpoint-ultrawide: 2560px;

}

.custom-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: var(--left-position);
  }

.content-background {
    margin: none;
    width: 100vw;
    height: 100vh;
}

.content-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.title {
    font-weight:900;
    font-size: xx-large;
    color: white;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.page-size {
    width: 100%;
    height: 100vh;
}

.form-size{
    width: 600px;
    height: 600px;
}

@media (max-width: 768px) {
    .form-size{
        width: 450px;
        height: 350px;
    }
    
}

@media (max-width: 480px) {
    .form-size{
        width: 380px;
        height: 300px;
    }
    
}


